/*****************/
/*! Base Styles  */
/*****************/
body {
  background: #ffffff;
  color: #222222;
  font: 87.5%/1.5 "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

@media (min-width: 38.75em) {
  body {
    font-size: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

p, ul, ol, article {
  margin: 0 0 1.5em 0;
}

ul, ol {
  padding-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

dd:not(:last-child) {
  margin-bottom: 1.5em;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

a {
  color: #4A100D;
  text-decoration: none;
  transition: all 200ms linear;
}

a:active,
a:hover,
a:focus {
  color: #3A100D;
}

/**************/
/*!  Helpers  */
/**************/

/* Assistive */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible;
}

/* Intrinsic item */
.intrinsic {
  position: relative;
  height: 0;
  overflow: hidden;
}

.intrinsic--16x9 {
  padding-bottom: 56.25%;
}

.intrinsic__item {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

/************/
/*! Layout  */
/************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 91.25%;
}

.container::before,
.container::after {
  display: table;
  content: " ";
}

.container::after {
  clear: both;
}

.container--small {
  width: 30em;
}

.container--medium {
  width: 38.75em;
}

.container--large {
  width: 60em;
}

.container--max {
  width: 71.25em;
}

/* Grid */
.column {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

@media (min-width: 38.75em) {
  .sm-one-half {
    width: 50%;
    float: left;
  }

  .sm-one-half:nth-of-type(2n+3) {
    clear: left;
  }
}

@media (min-width: 60em) {
  .md-one-third {
    width: 33.3333%;
    float: left;
  }

  .md-one-third:nth-of-type(2n+3) {
    clear: none;
  }

  .md-one-third:nth-of-type(3n+4) {
    clear: left;
  }
}

/********************/
/*! Content Blocks  */
/********************/

/* Site Header */
.site-header {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background-color: #4A100D;
  background-image: url('../assets/images/3594694575_658a6510a5_o--small.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.25em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
}

@media (min-width: 37.5em) {
  .site-header {
    background-image: url('../assets/images/3594694575_658a6510a5_o--medium.jpg');
  }
}

@media (min-width: 60em) {
  .site-header {
    background-image: url('../assets/images/3594694575_658a6510a5_o--large.jpg');
  }
}

.site-header__title a {
  color: #ffffff;
}

.site-header__title a:active,
.site-header__title a:hover,
.site-header__title a:focus {
  color: #dddddd;
}

.site-header__tagline {
  font-style: italic;
}

/* Speeches – Archive */
.speeches {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* Speech – Single */
.speech--single,
.speech__media {
  margin-bottom: 3em;
}

.speech__header--single,
.speech--loading {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.speech__entry p:nth-of-type(-n+2) {
  font-size: 1.5em;
}

.speech__meta {
  font-style: italic;
}

/* Search */
.search {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f4f4f4;
}

.search__form {
  margin: 1.5em 0;
}

.search__input {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 1em;
  height: 100%;
  width: 100%;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

/* Footer */
.site-footer {
  border-top: 1px solid #e9e9e9;
  background-color: #f4f4f4;
}

.site-footer__media,
.about__entry {
  margin-bottom: 1.5em;
}

.about__entry > p:first-child {
  font-size: 1.25em;
}

@media (min-width: 38.75em) {
  .site-footer__media,
  .about__entry {
    margin-bottom: 0;
  }

  .site-footer__img {
    height: 85vh;
    object-fit: cover;
  }

  .about {
    padding-left: 3%;
    padding-right: 3%;
  }
}
